@{
    Layout = null;
    ViewBag.Title = "FoodItems";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FoodItems</title>
</head>
<body>
    <form method="post">
        <div>
            <img src="~/images/burger.jpg""/>

            <a href="Home/BuyNow" class="form-control">click to buy</a>
            
            <div>
            <img src="~/images/icecreams.jpg" />
            <a href="Home/BuyNow" class="form-control">click to buy</a>
            </div>
            
        </div>
        <div>
        <img src="~/images/noodles.jpg" />
        <a href="Home/BuyNow" class="form-control">click to buy</a>
        </div>
        <div>
        <img src="~/images/pasta.jpg" />
        <a href="Home/BuyNow" class="form-control">click to buy</a>
        </div>

    </form>
</body>
</html>
